@import '../../../styles/variables/palette';
@import '../../../styles/mixins/focus';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navButton {
    width: 30px;
    height: 30px;
    margin: 0 16px;
    padding: 0;
    border: none;
    background: none;

    &:focus {
      @include focus(2px, 4px);

      background-color: $gray-350;
    }

    &:hover {
      background-color: #ddf3fd;
    }

    &:active {
      background-color: $bat-blue-300;
    }

    &:disabled {
      background-color: $gray-550;
      color: $gray-450;
    }
  }
}
