@scholastic:registry=https://scholastic.jfrog.io/scholastic/api/npm/npm-virtual/
//scholastic.jfrog.io/scholastic/api/npm/npm-virtual/:_password=JUpsMjhYWWdIa1Ml
//scholastic.jfrog.io/scholastic/api/npm/npm-virtual/:username=jaas-jenkins
//scholastic.jfrog.io/scholastic/api/npm/npm-virtual/:email=lifecycleautomation@scholastic.com
//scholastic.jfrog.io/scholastic/api/npm/npm-virtual/:always-auth=true